@page
@model GRUDDemo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DemoCode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemoCode.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemoCode.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemoCode.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemoCode.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemoCode.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemoCode.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemoCode.CreateUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemoCode.CreateUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemoCode.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemoCode.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DemoCode.ID">編輯</a> |
    <a asp-page="./Index">回到列表</a>
</div>
