@page
@model GRUDDemo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DemoCode[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoCode[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoCode[0].Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoCode[0].CreateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoCode[0].CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DemoCode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">編輯</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">明細</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
